$textcolor: #090b08;
$background_green: #97d279;
$box_shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
$padding: 20px;
@mixin flex { display: flex;
  flex-wrap: wrap;
  align-items: center;

}


* {
    box-sizing: border-box;
  }
  body {
    color: $textcolor;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    background-color: #ecffe9;
  }
  h1 {
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
  }
  h2 {
    text-transform: uppercase;
  }
  h4 {
    font-size: 0.8em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  h6 {
    font-weight: 500;
  }
  a {
    text-decoration: none;
    color: $textcolor;
  }
  ul {
    list-style: none;
  }
  .btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    border: solid 1px #000;
    transition: all 0.3s ease-in;
  }
  .btn:hover,
  .btn:focus {
    transform: translate(0px, -2px);
    -webkit-box-shadow: $box_shadow;
    -moz-box-shadow: $box_shadow;
    box-shadow: $box_shadow;
    transition: all 0.3s ease-out;
  }
  form {
    display: flex;
  }
  form input:first-child {
    flex: 1 0 80%;
    background-color: transparent;
  }
  form input:last-child {
    flex: 1 0 20%;
    border-left: 0;
    cursor: pointer;
    background-color: #c0eea9;
    transition: all 0.25s ease;
  }
  #submit:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.25s ease;
    -webkit-box-shadow: $box_shadow;
    -moz-box-shadow: $box_shadow;
    box-shadow: $box_shadow;
  }
  input {
    padding: 10px;
    border: 1px solid #000;
  }

  @import "header";
  @import "hero";
  @import "featured";
  @import "about";
  @import "contact";
